.App {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.songList {
  width: 30%;
}
.list {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(189, 188, 188);
  box-sizing: border-box;
}
.right {
  margin: 10px 0px;
}
.content {
  float: left;
}
.detail {
  width: 35%;
}
